In [1]:
import pandas as pd
import requests
import seaborn as sns
import os
from pycaret.regression import *

In [2]:
channel_id = 12397
api_key = os.environ['API_KEY']
n_feds = 8000
url = f'https://api.thingspeak.com/channels/{channel_id}/feeds.json?api_key={api_key}&results={n_feds}'

In [3]:
payload = requests.get(url).json()['feeds']

In [4]:
len(payload)

8000

In [5]:
columns = ['created_at','entry_id','field1','field2','field3','field4','field5','field6','field7','field8']

df_feed = pd.DataFrame(data=payload,columns=columns)

In [6]:
df = df_feed.drop(columns=['created_at','entry_id'])
df

     field1 field2 field3 field4 field5 field6 field7 field8
0        55    0.8     86   55.3      0  29.45  4.065      2
1        36      2     86   55.3      0  29.45  4.068      2
2        60    1.5     86   55.3      0  29.44  4.071      1
3        44    1.7     86   55.3      0  29.44  4.071      1
4        47    1.7     86   55.3      0  29.44  4.072      1
...     ...    ...    ...    ...    ...    ...    ...    ...
7995     34      0     62   43.4      0  29.94  4.092      0
7996      0      0     64   43.4      0  29.94  4.085      0
7997      0      0     65     44      0  29.94   4.09      0
7998     23      0     64   44.5      0  29.94   4.08      0
7999     23      0     62   44.9      0  29.94  4.086      0

[8000 rows x 8 columns]

In [7]:
df['field4'].unique()

array(['55.3', '55.1', '55', '55.5', '55.7', '55.9', '56', '54.8', '54.6',
       '54.4', '54.2', '54', '53.9', '53.7', '53.5', '53.3', '53.1', '53',
       '52.8', '52.6', '52.4', '52.2', '52.1', '51.9', '51.7', '51.5',
       '51.4', '51.2', '51', '50.8', '50.6', '50.5', '50.3', '50.1',
       '49.9', '49.7', '49.5', '49.4', '49.2', '49', '48.8', '48.6',
       '48.5', '48.3', '48.1', '47.9', '47.8', '47.6', '47.4', '47.2',
       '47', '46.9', '46.7', '46.5', '46.3', '46.1', '46', '45.8', '45.6',
       '45.4', '45.2', '45', '44.9', '44.7', '44.5', '44.3', '44.1', '44',
       '43.8', '43.6', '43.4', '43.2', '43.1', '42.9', '42.7', '42.5',
       '42.4', '42.2', '42', '41.8', '41.6', '41.5', '41.3', '41.1',
       '40.9', '40.7', '40.5', '40.4', '40.2', '40', '39.8', '39.6',
       '39.5', '39.3', '39.1', '38.9', '38.8', '38.6', '38.4', '38.2',
       '38', '37.9', '37.7', '37.5', '37.3', '37.1', '37', '36.8', '36.6',
       '36.2', '35.7', '35.3', '35.1', '35', '34.8', '34.6', '34.4',
       '34.2', '36', '35.9', '35.5', '36.4', '34.1', '33.7', '33.5',
       '33.4', '33.9', '56.4', '57.1', '57.3', '56.8', '56.2', '56.9',
       '57.5', '57.6', '57.8', '58', '58.4', '58.2', '56.6', '58.5',
       '58.7', '58.9', '59.1', '59.3', '59.5', '59.6', '60', '60.7',
       '60.5', '60.2', '60.9', '61.1', '60.4', '59.8', '61.4', '61.2',
       '61.6', '62', '61.8', '62.3', '62.1', '63.2', '63.8', '63', '33',
       '32.8', '32.6', '32.5', '33.2', '32.3', '32.1', '31.9', '31.7',
       '31.6', '31.4', '31.2', '31', '30.8', '30.6', '30.5', '30.3',
       '30.1', '29.9', '29.8', '29.6'], dtype=object)

In [8]:
new_column_name = ['Wind Direction','Wind Speed','Humidity','Temperature','Rain','Pressure','Power Level','Light Intensity']
df = df.rename(columns={'field1':new_column_name[0],'field2':new_column_name[1],'field3':new_column_name[2],'field4':new_column_name[3],'field5':new_column_name[4],'field6':new_column_name[5],'field7':new_column_name[6],'field8':new_column_name[7]})
df

,Wind Direction,Wind Speed,Humidity,Temperature,Rain,Pressure,Power Level,Light Intensity
0,55,0.8,86,55.3,0,29.45,4.065,2
1,36,2,86,55.3,0,29.45,4.068,2
2,60,1.5,86,55.3,0,29.44,4.071,1
3,44,1.7,86,55.3,0,29.44,4.071,1
4,47,1.7,86,55.3,0,29.44,4.072,1
...,...,...,...,...,...,...,...,...
7995,34,0,62,43.4,0,29.94,4.092,0
7996,0,0,64,43.4,0,29.94,4.085,0
7997,0,0,65,44,0,29.94,4.09,0
7998,23,0,64,44.5,0,29.94,4.08,0
7999,23,0,62,44.9,0,29.94,4.086,0

In [9]:
df = df.drop(columns=['Rain'])
df

,Wind Direction,Wind Speed,Humidity,Temperature,Pressure,Power Level,Light Intensity
0,55,0.8,86,55.3,29.45,4.065,2
1,36,2,86,55.3,29.45,4.068,2
2,60,1.5,86,55.3,29.44,4.071,1
3,44,1.7,86,55.3,29.44,4.071,1
4,47,1.7,86,55.3,29.44,4.072,1
...,...,...,...,...,...,...,...
7995,34,0,62,43.4,29.94,4.092,0
7996,0,0,64,43.4,29.94,4.085,0
7997,0,0,65,44,29.94,4.09,0
7998,23,0,64,44.5,29.94,4.08,0
7999,23,0,62,44.9,29.94,4.086,0

In [10]:
df.head()

,Wind Direction,Wind Speed,Humidity,Temperature,Pressure,Power Level,Light Intensity
0,55,0.8,86,55.3,29.45,4.065,2
1,36,2,86,55.3,29.45,4.068,2
2,60,1.5,86,55.3,29.44,4.071,1
3,44,1.7,86,55.3,29.44,4.071,1
4,47,1.7,86,55.3,29.44,4.072,1

In [11]:
df.dtypes

Wind Direction     object
Wind Speed         object
Humidity           object
Temperature        object
Pressure           object
Power Level        object
Light Intensity    object
dtype: object

In [12]:
df = df.astype(float)
df.dtypes

Wind Direction     float64
Wind Speed         float64
Humidity           float64
Temperature        float64
Pressure           float64
Power Level        float64
Light Intensity    float64
dtype: object

In [13]:
df.isna().sum()

Wind Direction     0
Wind Speed         0
Humidity           0
Temperature        0
Pressure           0
Power Level        0
Light Intensity    0
dtype: int64

In [14]:
s = setup(data = df,
          target = 'Temperature',
          remove_outliers = True,
          session_id = 123)

In [15]:
models()

,Name,Reference,Turbo
ID,,,
lr,Linear Regression,sklearn.linear_model._base.LinearRegression,True
lasso,Lasso Regression,sklearn.linear_model._coordinate_descent.Lasso,True
ridge,Ridge Regression,sklearn.linear_model._ridge.Ridge,True
en,Elastic Net,sklearn.linear_model._coordinate_descent.Elast...,True
lar,Least Angle Regression,sklearn.linear_model._least_angle.Lars,True
llar,Lasso Least Angle Regression,sklearn.linear_model._least_angle.LassoLars,True
omp,Orthogonal Matching Pursuit,sklearn.linear_model._omp.OrthogonalMatchingPu...,True
br,Bayesian Ridge,sklearn.linear_model._bayes.BayesianRidge,True
ard,Automatic Relevance Determination,sklearn.linear_model._bayes.ARDRegression,False
par,Passive Aggressive Regressor,sklearn.linear_model._passive_aggressive.Passi...,True
ransac,Random Sample Consensus,sklearn.linear_model._ransac.RANSACRegressor,False
tr,TheilSen Regressor,sklearn.linear_model._theil_sen.TheilSenRegressor,False
huber,Huber Regressor,sklearn.linear_model._huber.HuberRegressor,True
kr,Kernel Ridge,sklearn.kernel_ridge.KernelRidge,False
svm,Support Vector Regression,sklearn.svm._classes.SVR,False
knn,K Neighbors Regressor,sklearn.neighbors._regression.KNeighborsRegressor,True
dt,Decision Tree Regressor,sklearn.tree._classes.DecisionTreeRegressor,True
rf,Random Forest Regressor,sklearn.ensemble._forest.RandomForestRegressor,True
et,Extra Trees Regressor,sklearn.ensemble._forest.ExtraTreesRegressor,True
ada,AdaBoost Regressor,sklearn.ensemble._weight_boosting.AdaBoostRegr...,True
gbr,Gradient Boosting Regressor,sklearn.ensemble._gb.GradientBoostingRegressor,True
mlp,MLP Regressor,sklearn.neural_network._multilayer_perceptron....,False
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMRegressor,True
dummy,Dummy Regressor,sklearn.dummy.DummyRegressor,True

In [16]:
best_model = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           09:39:31
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

In [17]:
et = create_model('et')

Initiated  . . . . . . . . . . . . . . . . . .               09:41:32
Status     . . . . . . . . . . . . . . . . . .       Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Regressor

In [18]:
tuned_et = tune_model(et)

Initiated  . . . . . . . . . . . . . . . . . .                   09:41:38
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .      Extra Trees Regressor

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [19]:
save_model(tuned_et, './pickle_et_pycaret')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\mathe\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Wind Direction', 'Wind Speed',
                                              'Humidity', 'Pressure',
                                              'Power Level', 'Light Intensity'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('remove_outliers',
                  TransformerWrapper(transformer=RemoveOutliers(random_state=123))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('trained_model',
                  ExtraTreesRegressor(n_jobs=-1, random_state=123))]),
 './deploy/pickle_et_pycaret.pkl')